@import url(http://fonts.googleapis.com/css?family=VT323);

@background: #033649;
@foreground: #E8DDCB;

body{
  background-color: @background;
}

nav ul {
  width: 100%;
}
ul li {
  width: 33%;
  text-align: center;
}

.noMargin {
  margin: 0;
}

#mobile-demo li {
  width: 100%
}

li a {
  color: #2196f3 !important;
  font-size: 2rem !important;
}

/* label color
 .input-field label {
   color: #2196f3;
 }

label focus color
.input-field input[type=text]:focus + label {
 color: #2196f3;
}

.input-field input[type=email]:focus + label {
 color: #2196f3 !important;
}

.input-field textarea + label {
 color: #2196f3 !important;
}
label underline focus color
.input-field input[type=text]:focus {
 border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 #2196f3;
}

  icon prefix focus color
.input-field .prefix.active {
 color: #2196f3;
} */


.divider {
  background-color: #332B1F;
}

.pageContainer {
  background-color: @foreground;
  padding-top: 65px;
  min-height: 100vh;
}

.smaller {
  width: 90%;
}

.flowerBar{
  background-color: #2196f3;
  height: 10px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.outerBorder{
  margin: 0 auto;
  height: 125px;
  width: 125px;
  margin-top: 10px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.avatarBox{
  margin: 0 auto;
  height: 150px;
  width: 150px;
  position: relative;
}

.aboutHeader{

}

.avatar{
  margin: auto;
  width: 150px;
  height: 150px;
}
.myPicture {
  position: absolute;
  padding: 1px;
  border: 1px solid #F5E0D3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 0px #c2c2c2;
}

.youtube {
  position: relative;
  width: 267px;
  height: 25px;
  overflow: hidden;
}

.player {
  position: absolute;
  top: -272px;
  left: -5px;
}

nav {
  -webkit-box-shadow: 0px 0px !important;
  -moz-box-shadow: 0px 0px !important;
  box-shadow: 0px 0px !important;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.zFix{
  z-index: 10;
}

.borderFix{
  overflow: visible;
}

.noPadding{
  padding: 0px !important;
}

.imgFix1{
  background-size: 50% 50% cover;
}

.cardSplash{
  min-width: 200px;
  min-height: 300px;
  max-width: 1200px;
  max-height: 1000px;
  background-color: #332B1F;
}

.brewLogo {
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 3em;
  padding-bottom: .2em;
}

.gameswapLogo {
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 3em;
  padding-bottom: .2em;
}


.brewIcon {
  background-image: url(/assets/images/customIcons/brewIcon_Clear.png);
  position: absolute;
  bottom: 4em;
  right: 0;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-size: contain;
}

.gameswapIcon {
  background-image: url(/assets/images/customIcons/nintendoControllerTeal.png);
  position: absolute;
  bottom: 2.5em;
  right: 1.25em;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-size: contain;
}

.toorIcon {
  background-image: url(/assets/images/customIcons/planeOrange.png);
  position: absolute;
  bottom: 4em;
  right: -1em;
  margin: 0 auto;
  height: 75px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-content {
  /* background-color: #e2c6b8; */
}

.card-image{
  /* border-radius: 5px 5px 0 0; */
  border-radius: 5px;
}

.card-reveal {
  /* border-radius: 3px 3px 0 0; */
  border-radius: 4px;
}

.card {
  border-radius: 5px;
}
