doctype html
html(lang='en', ng-app='web-portfolio')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Michael J. Perez
    //- link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='vendor/materialize/dist/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', type='text/css', href='vendor/sweetalert/lib/sweet-alert.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/assets/images/customIcons/MJ-Logo-G.ico')
      
      
  body
    include ./views/nav/nav
    .container.pageContainer
      .divider
      div(ui-view)
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/sweetalert/lib/sweet-alert.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')  
    script(src='/vendor/materialize/dist/js/materialize.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
