body{
  /* padding-top: 41px; */
  background-color: #444646;
}

.borderFix{
  overflow: visible;
}

.noPadding{
  padding: 0px !important;
}

.imgFix1{
  background-size: 50% 50% cover;
}

.brewSplash{
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  max-height: 600px;
  background-color: #332B1F;
}

.brewLogo {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.brewIcon {
  background-image: url(/assets/images/customIcons/brewIcon_Clear.png);
  position: absolute;
  top: -50px;
  right: 50%;
  height: 100px;
  width: 100px;


}
