doctype html
html(lang='en', ng-app='poseidon')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title Michael J. Perez
    //- link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css')
    //- link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='vendor/materialize/dist/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    include ./views/nav/nav
    .container
      .row
        .col.s12.m12.l4 
          .card
            .card.blue-grey.waves-effect.waves-block.borderFix
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Game Swap
                i.mdi-navigation-more-vert.right
              p
                a(href='#!') Linkarino
            .card-reveal
              span.card-title.grey-text.text-darken-4 TitleInside
                i.mdi-navigation-close.right
              p Here is info inside the card. Jon commits to quickly
        .col.s12.m12.l4
          .card
            .card-image.waves-effect.waves-block.borderFix
              img.activator.imgFix1(src='/assets/images/Battlewise-Hoplite-Art.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Brew
                i.mdi-navigation-more-vert.right
              p
                a(href='#!') Linkarino
            .card-reveal
              span.card-title.grey-text.text-darken-4 TitleInside
                i.mdi-navigation-close.right
              p fkerwnf
        .col.s12.m12.l4
          .card
            .card-image.waves-effect.waves-block.borderFix
              img.activator(src='/assets/images/Treasure-Cruise-MtG-Art.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Toor
                i.mdi-navigation-more-vert.right
              p
                a(href='#!') Linkarino
            .card-reveal
              span.card-title.grey-text.text-darken-4 TitleInside
                i.mdi-navigation-close.right
              p fkerwnf
              

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    //- script(src='/vendor/firebase/firebase.js')
    //- script(src='/vendor/angular/angular.min.js')
    //- script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src='/vendor/materialize/dist/js/materialize.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
