body{
  /* padding-top: 41px; */
  background-color: #444646;
}

.uiViewPort{
  height: 63vh;
}

.panelBack{
  height: 50vh;
  background-color: white;
}

.blue{
  background-color: blue;
}


.selectPanel {
  padding: 0px;
  height: 37vh;
}
