nav.white(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo.center.blue-text(href='#') Michael J. Perez
    a.button-collapse.show-on-large.blue-text.left(href='#', data-activates='slide-out'): i.mdi-navigation-menu
    ul#slide-out.side-nav.blue-text
      li: a.btn.waves-effect.waves-orange(href='#') Linkarino
      li: a(href='#') Linkarino2
    
//- nav.navbar.navbar-default.noMargin.navbar-fixed-top
//-   .container  
//-     .navbar-header
//-       //- button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
//-       //-   span.sr-only Toggle navigation
//-       //-   span.icon-bar
//-       //-   span.icon-bar
//-       //-   span.icon-bar
//-       a.hvr-underline-from-center.navbar-brand(href='/') Michael J. Perez
//-     #navbar.collapse.navbar-collapse
//-       ul.nav.navbar-nav.navbar-left
//-         //- li: a(href='/views/pages/portfolio.html'): i.fa.fa-street-view &nbsp; Portfolio
//-       ul.nav.navbar-nav.navbar-right.iconSize
//-         li: a.lessPadding.hvr-underline-from-center(href='https://twitter.com/spinaldash' target="_blank")
//-           i.fa.fa-twitter-square
//-         li: a.lessPadding.hvr-underline-from-center(href="https://github.com/Spinaldash" target="_blank")
//-           i.fa.fa-github-square.iconSize
//-         li: a.lessPadding.hvr-underline-from-center(href='https://www.linkedin.com/in/mjosephvp' target="_blank")
//-           i.fa.fa-linkedin-square.iconSize
