.row
  .s10
    h1 Me? Oh, I'm flattered you asked.
    .flowerBar
    p Words... are only one way at looking at the picture. Playing this gives you another angle...
    span Souls of the Forest by Video Games Live: 
    .youtube
      .player
        iframe(width='300', height='300', src='https://www.youtube.com/embed/tjC3lF6rWqM?list=PLTFRNGK_BjizyWDn26MLa2vylmIV-QZ4g?rel=0')
          
    
