.row.noMargin
  .col.s12
    .outerBorder
      .avatarBox
        img.circle.myPicture.responsive-img(src='/assets/images/pictures/stoic_500px.jpg')
.row
  .col.s12
    h2.center.aboutHeader Michael J. Perez
    h5.center.noMargin Full-Stack Web-Engineer
    h5.center.noMargin I design and develop single-page web-applications specializing in Javascript.

    .flowerBar
  .col.s8
    h4 When I'm not studying design or Javascript, I find myself enjoying Art.
    p I very much enjoy coding. I see it as a bridge between practicailty and art.
    p I revel in competition. I love playing video games, performing theatre (I act and sing), or playing my favorite card game, Magic: The Gathering.
.row
  .col.s4
    h4 Music
    p There are thoughts and ideas more genuinely expressed with music than with words. Please enjoy this piano piece I adore.
  .col.s4
    h4 Theatre
    p Blurrb
  .col.s4
    h4 Gaming
    p 
      | You might know me as
      a(href='twitch.tv/Spinaldash', target="_blank") Spinaldash.
      | I love gaming, especially multi-player competative types. I was Diamond 1 (top .01%) for the first three seasons of 
      a(href='leagueoflegends.com', target='_blank') League of Legends, and hit Rank one playing Dawngate while streaming on twitch.tv.
    p 
      | I also have an undying passion for the card game 
      a(href=''))Magic: The Gathering
.row
  .col.s12
    h4 Drop me a line
    p 
      | If you just want to say "Hello" or have a project you would like to get me involved in, don't hesitate to reach out at:- mjosephvp@gmail.com or follow me on
      a(href='twitter.com/Spinaldash', target='_blank') Twitter.
  
