.row
  .col.s12
    h1 Me? Oh, I'm flattered you asked.
    .flowerBar
  .col.s6
    h4 When I'm not studying design or Javascript, I find myself enjoying Art.
    p I very much enjoy coding. I see it as a bridge between practicailty and art.
    p I revel in competition. I love playing video games, performing theatre (I act and sing), or playing my favorite card game, Magic: The Gathering.
  .col.s6
    .container
      .myPicture
.row
  .col.s6
    h4 Drop me a line
    p 
      | If you just want to say "Hello" or have a project you would like to get me involved in, don't hesitate to reach out at:- mjosephvp@gmail.com or follow me on
      a(href='twitter.com/Spinaldash', target='_blank') Twitter.
  .col.s6
    h4 Music
    p There are thoughts and ideas more genuinely expressed with music than with words. Please enjoy this piano piece I adore.
    span Souls of the Forest: 
    .youtube
      .player
        iframe(width='300', height='300', src='https://www.youtube.com/embed/tjC3lF6rWqM?list=PLTFRNGK_BjizyWDn26MLa2vylmIV-QZ4g?rel=0')
    
          
    
