.row.noMargin
  .col.s12
    .outerBorder
      .avatarBox
        img.circle.myPicture.responsive-img(src='/assets/images/pictures/stoic_500px.jpg')
.row
  .col.s12.center
    h2.aboutHeader Michael J. Perez
    h5.center.subtitle A Full-Stack Web Engineer with an eye for design
    h4.center I design and develop single-page web-applications.
    p The Full-stack I'm most familiar with includes:
    p Mongodb - Hapi.js - Angular - Node
    .flowerBar
  .col.s12.center
    h5 Let me tell you a little about some of my other passions:
.row
  .col.s12.m4.center
    h4 Music
    img.aboutImg(src='/assets/images/customIcons/play.png')
    p.flowtext I've studied voice and performed everything from sacred music to epic rock. These days you will find me jamming out to Muse or getting productive litsening to Radiohead. 
  .col.s12.m4.center
    h4 Theatre
    img.aboutImg(src='/assets/images/customIcons/theatre.png')
    p.flowtext I've been a part of countless theatre productions. My favorites are Musical Theatre. Some cool roles I've played: Seymour in Little Shop of Horrors, The conspirator Decius in Julius Ceasar, and transgendered Martin in the original play: The Matter of Martin.
  .col.s12.m4.center
    h4 Gaming
    img.aboutImg(src='/assets/images/customIcons/nintendoControllerTeal.png')
    p.flowtext 
      | You might know me as &nbsp
      a(href='http://www.twitch.tv/spinaldash/profile', target="_blank") Spinaldash. &nbsp
      | I love gaming, especially multi-player competative types. I was in the Diamond 1 League (top .01% of the playerbase) for the first three seasons of 
      a(href='http://leagueoflegends.com', target='_blank') League of Legends
      | , and hit Rank one playing Dawngate while streaming on twitch.tv.
    p.flowtext
      | I also have an undying passion for the card game 
      a(href='http://magic.wizards.com/') Magic: The Gathering
      | . Check out a compendium I've made for the game: 
      a(href='http://brew.michaeljperez.net', target='_blank') Brew

  
