.row(ng-controller='ContactCtrl')
  .col.s12.center
    h4 Drop me a line
    p.bottomMargin
      | If you just want to say "Hello" or have a project you would like to get me involved in, don't hesitate to reach out at:- mjosephvp@gmail.com or follow me on &nbsp
      a(href='twitter.com/Spinaldash', target='_blank') Twitter.
  .col.s12
    .row
      form(name='messageForm')
        .input-field.col.s12.m6
          i.mdi-action-account-circle.prefix
          input#name.validate(type='text', ng-model='message.name', name='name', required)
          label(for='name') Name
        .input-field.col.s12.m6
          i.mdi-communication-email.prefix
          input#email.validate(type='email', ng-model='message.email', name='email', required)
          label(for='email') Email
        .input-field.col.s12
          i.mdi-editor-mode-edit.prefix
          textarea#message.materialize-textarea(ng-model='message.body', name='body', required)
          label(for='message') Message
        .col.s12.center
          button.btn.waves-effect.waves-light(type="submit", ng-click='submitMail(message)', ng-disabled='messageForm.$invalid') Submit
            i.mdi-content-send.right
