.container.pageContainer.z-depth-1
  .row
    .col.s12.m6.l4
      .card.z-depth-3
        .card-image.blue-grey.waves-effect.waves-block
          .cardSplash.activator
            .brewIcon.center-align
            h5.white-text.brewLogo.flow-text Brew
        //- .card-content
        //-   span.card-title.activator.grey-text.text-darken-4 Brew
        //-     i.mdi-navigation-more-vert.right
        //-   p
        //-     a(href='#!') Linkarino
        .card-reveal
          span.card-title.grey-text.text-darken-4 Brew
            i.mdi-navigation-close.right
          p Here is info inside the card. Jon commits to quickly
    .col.s12.m6.l4 
      .card.z-depth-3
        .card-image.blue-grey.waves-effect.waves-block
          .cardSplash.activator
            .gameswapIcon.center-align
            h5.white-text.gameswapLogo.flow-text Game.swap
        //- .card-content
        //-   span.card-title.activator.grey-text.text-darken-4 Game.swap()
        //-     i.mdi-navigation-more-vert.right
        //-   p
        //-     a(href='#!') Linkarino
        .card-reveal
          span.card-title.grey-text.text-darken-4 TitleInside
            i.mdi-navigation-close.right
          p Here is info inside the card. Jon commits to quickly
    .col.s12.m6.l4 
      .card.z-depth-3
        .card-image.blue-grey.waves-effect.waves-block
          .cardSplash.activator
            .toorIcon.center-align
            h5.white-text.brewLogo.flow-text Toor
        //- .card-content
        //-   span.card-title.activator.grey-text.text-darken-4 Toor
        //-     i.mdi-navigation-more-vert.right
        //-   p
        //-     a(href='#!') Linkarino
        .card-reveal
          span.card-title.grey-text.text-darken-4 TitleInside
            i.mdi-navigation-close.right
          p Here is info inside the card. Jon commits to quickly
