
.row
  .col.s12.m6.l6
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .brewIcon.center-align
          h5.white-text.brewLogo.flow-text Brew
      .card-reveal
        span.card-title.grey-text.text-darken-4 Brew
          i.mdi-navigation-close.right
        p A card compendium for Magic: The Gathering.
        p Add in your favorite sets of cards, and powerfully sort and filter them. 
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/Spinaldash/mtgapp', target='_blank') Github
          a(href='https://github.com/Spinaldash/mtgapp', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='http://brew.michaeljperez.net', target='_blank') Website
          a(href='http://brew.michaeljperez.net', target='_blank'): i.fa.fa-desktop.right
  .col.s12.m6.l6
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .gameswapIcon.center-align
          h5.white-text.gameswapLogo.flow-text Game.swap
      .card-reveal
        span.card-title.grey-text.text-darken-4 Game.swap
          i.mdi-navigation-close.right
        p A marketplace for trading your used games.
        p Create and your Gameswap account and trade your games today!
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/Spinaldash/game-swap', target='_blank') Github
          a(href='https://github.com/Spinaldash/game-swap', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='https://aqueous-crag-7207.herokuapp.com/#/', target='_blank') Website
          a(href='https://aqueous-crag-7207.herokuapp.com/#/', target='_blank'): i.fa.fa-desktop.right
  .col.s12.m6.l6 
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .toorIcon.center-align
          h5.white-text.brewLogo.flow-text Toor
      .card-reveal
        span.card-title.grey-text.text-darken-4 Toor
          i.mdi-navigation-close.right
        p Crowdsource your vacation. 
        p Winner of the Launch2015 Sabre Api hackathon award.
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/coding-house-jan2015/toor', target='_blank') Github
          a(href='https://github.com/coding-house-jan2015/toor', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='http://toor.club/', target='_blank') Website
          a(href='http://toor.club/', target='_blank'): i.fa.fa-desktop.right
        span.card-title.yellow-text.text-darken-3: a(href='http://challengepost.com/software/toor-4z8zg', target='_blank') Trophy
          a(href='http://challengepost.com/software/toor-4z8zg', target='_blank'): i.fa.fa-trophy.right
  .col.s12.m6.l6
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .photoIcon.center-align
          h5.white-text.brewLogo.flow-text Photo Corner
      .card-reveal
        span.card-title.grey-text.text-darken-4 Photo Corner
          i.mdi-navigation-close.right
        p Upload and manage your photo albums.
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/Spinaldash/palbm', target='_blank') Github
          a(href='https://github.com/Spinaldash/palbm', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='https://obscure-coast-4742.herokuapp.com/', target='_blank') Website
          a(href='https://obscure-coast-4742.herokuapp.com/', target='_blank'): i.fa.fa-desktop.right
  .col.s12.m6.l6
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .todoIcon.center-align
          h5.white-text.brewLogo.flow-text ToDo List
      .card-reveal
        span.card-title.grey-text.text-darken-4 Todo List
          i.mdi-navigation-close.right
        p Log in and create your own To-do list.
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/Spinaldash/todo', target='_blank') Github
          a(href='https://github.com/Spinaldash/todo', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='https://boiling-harbor-3498.herokuapp.com', target='_blank') Website
          a(href='https://boiling-harbor-3498.herokuapp.com', target='_blank'): i.fa.fa-desktop.right
  .col.s12.m6.l6
    .card.z-depth-3
      .card-image.blue-grey.waves-effect.waves-block
        .cardSplash.activator
          .memIcon.center-align
          h5.white-text.brewLogo.flow-text Memory
      .card-reveal
        span.card-title.grey-text.text-darken-4 Memory
          i.mdi-navigation-close.right
        p Match all of the cards before the time runs out.
        span.card-title.grey-text.text-darken-4: a(href='https://github.com/Spinaldash/jankyMem', target='_blank') Github
          a(href='https://github.com/Spinaldash/jankyMem', target='_blank'): i.fa.fa-github.right
        span.card-title.grey-text.text-darken-4: a(href='http://spinaldash.github.io/jankyMem/', target='_blank') Website
          a(href='http://spinaldash.github.io/jankyMem/', target='_blank'): i.fa.fa-desktop.right
